


<nav>
  <label for="btn-category" class="button">Category
   <span class="fas fa-caret-down"></span>
  </label>
  <input type="checkbox" id="btn-category">
  <ul class="menu">
     
      <li>
          <label for="btn-electronics" class="first"> Electronics
              <span class="fas fa-caret-down"></span>
          </label>
          <input type="checkbox" id="btn-electronics">
          <ul>
              <li><a href="#">Mobiles</a></li>
              <li><a href="#">Computers</a></li>
              <li><a href="#">Tv</a></li>
          </ul>
      </li>

      <li>
          <label for="btn-fashion" class="second"> Fashion
              <span class="fas fa-caret-down"></span>
          </label>
          <input type="checkbox" id="btn-fashion">
          <ul>
              <li><a href="#">Clothes</a></li>
           
          </ul>
      </li>

      <li><a href="#">Books</a></li>
      
  </ul>
   
</nav>